html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(120deg, #141e30, #243b55);
    
}

h1{
    
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 200px;
    width: 300px;
    border: solid 1px black;
}

#scoreboard{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 300px;
}

#player{
    width: 200px;
    height: 300px;
    border: solid 1px black;
}

#computer{
    width: 200px;
    height: 300px;
    border: solid 1px black;
}